* {
    margin:0px;
    padding :0px;
    color:rgb(129, 128, 128);
    font-family: Arial, Helvetica, sans-serif;
    }
    .outer-border {
        border:1px solid black;
        border-radius: 93px;
        margin : 40px 450px;
        height:1027px;
        width:447px;
    }
    .first-border {
        border:7px solid rgb(189, 186, 186);
        border-radius: 90px;
        height:1013px;
        width:433px;
    }
    .sec-border {
        border:9px solid rgb(104, 103, 103);
        border-radius: 75px;
        height:995px;
        width:415px;
    }
    .main-container {
        border:8px solid black;
        background-color: rgb(220, 252, 241);
        border-radius: 60px;
        height:980px;
        width:400px;
    }
    .main-container-img img {
        margin-left: 355px;
        margin-top: 20px;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
    .main-container-img img:hover {
        border-radius: 50%;
        border:2px solid rgb(112, 111, 111);
        box-shadow: 0 1px 6px rgba(12, 10, 10, 0.28);
        }
    .header {
        display: flex;
    }
    .header p {
        color:black;
        margin-left: 34px;
        margin-top: 12px;
        font-size: 16px;
    }
    .sub-header {
        border:1px solid black;
        background-color: black;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        height: 30px;
        width:200px;
        margin-left: 25px;
    }
    .sub-header p {
        color:rgb(73, 72, 72);
        margin-left: 73px;
    }
    .header-imgs {
        margin-left:8px;
        margin-top: 10px;
    }
    .header-imgs img {
        height: 15px;
        width:15px;
    }
    .main-container-h-p h1 {
        margin-top: 5px;
        margin-left: 40px;
        color:rgb(116, 113, 113);
    }
    .main-container-h-p p {
        margin-left: 40px;
        margin-top: 13px;
        font-size: 13px;
    }
    .first-container {
        height: 160px;
        width:380px;
        background-color: white;
        margin-top: 25px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
    }
    .pf p {
        font-size: 20px;
        color:rgb(104, 103, 103);
        margin-left: 25px;
        padding-top:30px;
    }
    .ps p {
        margin-left: 25px;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 13px;
    }
    .pt p b {
        margin-left: 25px;
        font-size: 17px;
        color:rgb(2, 161, 201)
    }
    .sec-container {
        height: 160px;
        width:380px;
        background-color: white;
        margin:0px 10px;
        border-radius: 10px;
    }
    .pf-s p {
        font-size: 17px;
        color:rgb(104, 103, 103);
        margin-left: 25px;
        padding-top:18px;

    }
    .pf-s p {
        font-size: 20px;
        color:rgb(104, 103, 103);
        margin-left: 25px;
        padding-top:15px;
    }
    .p-img {
        display:flex;
    }
    .image img {
        border-radius: 8px;
        height: 70px;
        width:110px;
        margin-left: 95px;
        margin-top: 40px;
    }
    .logos {
        display: flex;
        margin-left: 0px;
        justify-content:left;
        
      }
      .logo-two {
        margin-top:20px;
        margin-left: 30px;
        cursor: pointer; 
      }
      .logo-two img {
        width: 65px; 
        height: 65px;
        }
        .logo-two :hover {
            box-shadow: 0 1px 6px rgba(12, 10, 10, 0.28);
            border-radius: 40%;
            }
        .logo-two p {
         font-size: 13px;
         color: rgb(4, 72, 104);
         margin-left: 12px;
        }
        .third-container {
            height: 160px;
            width:380px;
            background-color: white;
            margin:40px 10px;
            border-radius: 10px;
        }
        .footer {
            height: 120px;
            background-color:white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 50px;
            border-bottom-right-radius:50px ;
            display: flex;
           cursor: pointer;
          }
          .im {
            display: flex;
            flex-direction: row;
          }
          .im img {
            height: 35px;
            width: 35px;
            margin-left:50px;
            margin-top: 20px;
          }
          .nam {
            display: flex;
            flex-direction: column;
          }
          .nam p{
            color:rgb(88, 87, 87);
            margin-left:48px;
            padding-top: 5px;
          }
          .footer {
            position: relative;
          }
          .footer::after {
            content: "";
            position: absolute;
            top: 90%;
            right: 31%;
            transform: translateY(-50%);
            height: 6px;
            width: 140px;
            background-color: #292828;
            border-radius: 10px;
          }
        
     
   